@import "../shared/reset.module.less";
@import "../shared/colors.module.less";
@import "../shared/fonts.less";
@import "@/styles/shared/buttons/buttons_inner.module.less";

@content-width: 80vw;
@common-margins: calc(@content-width / 100 * 3);

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.main {
  color: @cyber_yellow;
  grid-column: 1 / -1;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 10px;
  font-family: "Rajdhali", sans-serif;

  .newNoteFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;

    .noteForm {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      font-size: 2.5vw;
      margin-top: 2vw;

      textarea,
      input {
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        color: @color_ivory;
        font-family: "Rajdhali", sans-serif;
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: inherit;
      }

      textarea {
        box-sizing: border-box;
        padding: 2% 0.5%;
        resize: none;
        line-height: 3vh;

      }

      input {
        box-sizing: border-box;
        padding: 1%;
        font-weight: bold;
      }

      label {
        font-size: inherit;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: @cyber_yellow;
      }

      .formButtonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        .buttonWrapper {
          img {
            width: 25vw;
          }

          .isPrivateButtonActive {
            background: fade(@cyber_yellow, 10%);

          }
        }
      }

      .formField {
        display: flex;
        font-family: "Rajdhali", sans-serif;
        border: @cyber_swamp_dark 2px solid;
        align-items: center;
        padding: 1% 2% 0.5% 2%;
      }

      .noteTextWrapper {
        height: 65%;
      }
    }
  }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {
  .main .newNoteFormWrapper .noteForm {
    font-size: 2vw;

    .formButtonsWrapper .buttonWrapper img {
      width: 20vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main .newNoteFormWrapper .noteForm {
    .formButtonsWrapper .buttonWrapper img {
      width: 15vw;
    }
  }
}

@media screen and (min-width: 1280px) {
  .main {
    grid-area: main;
    width: 100%;

    .newNoteFormWrapper .noteForm {
      font-size: 1.5vw;

      .formButtonsWrapper .buttonWrapper img {
        width: 12vw;
      }
    }
  }
}
