@import "../shared/reset.module.less";
@import "../shared/colors.module.less";
@import "../shared/fonts.less";
@import "@/styles/shared/buttons/buttons_inner.module.less";

@content-width: 80vw;
@common-margins: calc(@content-width / 100 * 3);

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.main {
  grid-column: 1 / 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 2vw 7vw;

  .newNoteFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;

    .noteForm {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      font-size: 2.5vw;

      textarea,
      input {
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        color: @color_ivory;
        font-family: "Rajdhali", sans-serif;
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: inherit;
      }

      textarea {
        box-sizing: border-box;
        padding: 3% 5%;
        resize: none;
        line-height: 3vh;

      }

      input {
        box-sizing: border-box;
        padding: 0.3%;
      }

      label {
        margin: 5px;
        font-size: inherit;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: @cyber_yellow;
      }

      .formButtonsWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        .buttonWrapper {
          img {
            width: 25vw;
          }
        }
      }

      .formField {
        display: flex;
        font-family: "Rajdhali", sans-serif;
        border: @cyber_swamp_dark 2px solid;
        align-items: center;
      }

      .noteTextWrapper {
        height: 65%;
      }
    }
  }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {
  .main .newNoteFormWrapper .noteForm {
    font-size: 2vw;

    .formButtonsWrapper .buttonWrapper img {
      width: 20vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main .newNoteFormWrapper .noteForm {
    .formButtonsWrapper .buttonWrapper img {
      width: 15vw;
    }
  }
}

@media screen and (min-width: 1280px) {
  .main {
    grid-area: main;
    margin: 1vw 7vw 2vw 1vw;

    .newNoteFormWrapper .noteForm {
      font-size: 1.5vw;
      .formButtonsWrapper .buttonWrapper img {
        width: 12vw;
      }
    }
  }
}
