@import "../shared/reset.module.less";
@import "../shared/colors.module.less";
@import "../shared/fonts.less";

.main {
  color: @cyber_yellow;
  grid-column: 1 / -1;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 10px;
  font-family: "Rajdhali", sans-serif;
}


@media screen and (min-width: 1280px) {
  .main {
    grid-area: main;
    width: 100%;
  }
}
