.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


.main-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    border: 20px solid;
    border-image: url("../../assets/mobile/svg/elements/discover_frame.svg") 20 stretch;
    width: 100%;
    flex: 1;
    gap: 0.2rem;
    background: transparent;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 100vmin;
    max-height: 150vmin;

}

.interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 95%;

}

@media screen and (min-width: 740px) and (min-height: 740px) {
    .main-content {
        border: 40px solid;
        border-image: url("../../assets/mobile/svg/elements/discover_frame.svg") 20 stretch;
        min-height: 0;
        max-height: 90vmin;
    }
}

@media screen and (min-width: 1025px) {
    .main-content {
        min-height: 0;
        max-height: 50vmin;
    }

    .content-wrapper {
        width: 100%;
    }
}