.interaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


@media screen and (min-width: 740px) {
    .interaction {
        justify-self: center;
        flex-direction: row;
        justify-content: space-between;
        gap: calc(100vmin * 0.15);
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) {

    .logo {
        width: calc(100vw * 0.25);
        margin-top: 1%;
    }
}