.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.main-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    border: 20px solid;
    border-image: url("../../assets/mobile/svg/elements/discover_frame.svg") 25 stretch;
    width: 90%;
    flex: 1;
    background: transparent;
    min-height: 100vmin;
}

.interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 85%;

}

@media screen and (min-width: 740px) and (min-height: 740px) {
    .main-content {
        border: 40px solid;
        border-image: url("../../assets/mobile/svg/elements/discover_frame.svg") 25 stretch;
        min-height: 0;
    }
}

@media screen and (min-width: 1024px) {
    .main-content {
        min-height: 0;
    }
}