


.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 85%;

}

.main-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    border: 20px solid;
    border-image: url("../../assets/mobile/svg/elements/discover_frame.svg") 25 stretch;
    width: 90%;
    flex: 1;
    background: transparent;
    min-height: 100vmin;
}




.note-data-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.note-details {
    margin: 0.7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.2rem;
    width: 90%;
    border-bottom: 3px solid;
    border-top: none;
    border-image: url("../../assets/underline.svg") 10 stretch;
}

.note-date {
    font-size: calc(9px + 1vmin);
}

.note-field {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: fit-content;
    max-height: fit-content;
    color: var(--cyber-cyan-color);
    font-size: calc(10px + 1vmin);
}

.note-field.note-header {
    color: var(--cyber-pink-color);
    font-size: 1.2rem;
}

.note-ico {
    width: 0.8rem;
}

.note-text {
    display: flex;
    flex: 1;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: var(--cyber-cyan-color);
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    font-weight: bold;
    font-size: calc(12px + 1vmin);
    resize: none;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

textarea:focus-visible {
    outline: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.top-buttons button {
    border: 3px solid transparent;
    border-image: url("../../assets/buttons/top_button_frame.svg") 5 stretch;
    margin-top: 0;
    margin-bottom: 0.4rem;
    color: var(--cyber-shrimp-color);
    padding: 0 0.5rem;
    clip-path: unset;
}


@media screen and (min-width: 740px) and (min-height: 740px) {
    .main-content {
        border: 40px solid;
        border-image: url("../../assets/mobile/svg/elements/discover_frame.svg") 25 stretch;
        min-height: 0;
    }
}

@media screen and (min-width: 1024px) {
    .main-content {
        min-height: 0;
    }
}