
:root {
    --main-bg-color: #090A03;
    --cyber-sea-color: #07596E;
    --cyber-sand-color: #C9684D;
    --cyber-pink-color: #E82E5A;
    --cyber-red-color: #D43C37;
    --cyber-cyan-color: #64E6F4;
    --cyber-shrimp-color: #E85D5A;
}

@font-face {
    font-family: "Rajdhali";
    src: url("../assets/fonts/Rajdhani-Regular.woff2") format("woff2"), url("../assets/fonts/Rajdhani-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Rajdhali", sans-serif;
    font-weight: normal;
    font-size: calc(12px + 1vmin);
    line-height: calc(10px + 3vmin);
}


p {

    -moz-hyphens: auto;

    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-zone: 8%;
    overflow-wrap: break-word;
    word-break: break-word;

    hyphens: auto;
}

#root {
    height: 100%;
}

.wrapper {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10%;
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
}

.logo {
    width: calc(100vmin * 0.6);
    position: relative;
    display: block;

}

.header-line, .footer-line {
    width: 100%;
}

picture {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main {
    flex: 1;
    background-image: url("../assets/gear_bg.png");
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    min-height: 7%;
    position: sticky;
    bottom: 0;
    margin-bottom: 5vmin;
    margin-top: 3%;
    background-color: var(--main-bg-color);
}

@media screen and (min-width: 480px) {

    .logo {
        width: calc(100vmin * 0.55);
    }
}

@media screen and (min-width: 740px) {
    .logo {
        width: calc(100vw * 0.4);
    }
}

@media screen and (min-width: 1024px) {

    .logo {
        width: calc(100vw * 0.25);
        margin-top: 1%;
    }
}