
:root {
    --main-bg-color: #090A03;
    --cyber-sea-color: #07596E;
    --cyber-sand-color: #C9684D;
    --cyber-pink-color: #E82E5A;
    --cyber-red-color: #D43C37;
    --cyber-cyan-color: #64E6F4;
    --cyber-shrimp-color: #E85D5A;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.wrapper {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10%;
}

.logo {
    width: calc(100vw * 0.5);
    position: relative;
    display: block;

}

.header-line, .footer-line {
    width: 100%;
}

picture {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main {
    flex: 1;
    background-image: url("../assets/gear_bg.png");
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    min-height: 7%;
}

@media screen and (min-width: 480px) {

    .logo {
        width: calc(100vw * 0.55);
    }
}

@media screen and (min-width: 740px) {
    .logo {
        width: calc(100vw * 0.45);
    }
}

@media screen and (min-width: 1024px) {

    .logo {
        width: calc(100vw * 0.3);
        margin-top: 1%;
    }
}