@import "project.less";
@import "reset.less";



.container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr ;
    background-image:url("../img/red_background.png");
    background-size: cover;
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }