@import "project.less";
@import "reset.less";
@import "fonts.less";

@content-width: 80vw;

html {
  font-family: "Nico Moji";
  color: @cyber_red;
}

.wrapper {
  box-sizing: border-box;
  background-color: #444544;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: @content-width;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  background-image: url("../img/red_background.png");
  background-size: cover;
}

.header {
  grid-area: header;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;

  .page-counter {
    display: block;
    align-items: first baseline;
    font-family: "Rajdhali";
    font-size: 25px;
    color: @cyber_red;
    position: absolute;
    top: 30px;
    right: 0;
    .page-page {
      margin-left: 10px;
      font-size: 20px;
    }
  }

  .header-left {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: start;
    flex-shrink: 0;
    .logo-container {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      .logo {
        width: 50px;
        margin-right: 10px;
      }
      .logo-text-wrapper {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        .logo-text {
          width: 200px;
        }
        .officers-text {
          margin-top: 10px;
          width: 110px;
        }
      }
    }
    .discover {
      margin-left: 60px;
    }
  }

  .header-button {
    height: 35px;
  }

  .header-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    .menu-container {
      display: flex;
      box-sizing: border-box;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 9px;
      gap: 75px;
      margin: 25px auto 0 0;
      .menu-buttons {
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
      }
    }
    .red-bar {
      display: flex;
      box-sizing: border-box;
      .bar {
        width: 30vw;
      }
    }
  }
  .red-line {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    .line {
      width: 100%;
    }

  }
}

@media screen and (width < 1260px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .header-left {
      margin-top: 20px;
      .logo-container {
        flex-direction: column;
        .header-button.discover {
          margin: 30px auto auto auto;

        }
        .logo-text-wrapper {
          .officers-text {
            display: none;
          }
        }
      }
    }
    .header-right {
      .menu-container {
        margin: 60px auto 30px auto;
      }
    }
  }
}

@media screen  and (max-width: 700px) {
  .header {
    .page-counter {
      display: none;
    }
  }
  .main {
    .main-header-container {
      flex-direction: column;
      justify-content: center;
      margin: 10px auto 10px auto;
      .main-gear-container {
        justify-content: center;
        align-items: center;
        .gear-image {
          width: 100px;
        }
        .header-japan {
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  margin-right: 50px;

  .main-header-container {
    display: flex;
    justify-content: start;
    margin-left: 3%;
    margin-right: auto;
    gap: 10px;
    .main-gear-container {
      display: flex;
      flex-direction: column;
      position: relative;
      .header-japan {
        position: absolute;
        top: 80px;
        left: 15px;
      }
    }
    .header-text {
      display: flex;
      align-items: center;
      font-size: 4vw;
      text-shadow: @cyber_red 1px 0 20px;
    }
  }
  .content-background-cover {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    .content-background {
      position:relative;
      width: 90%;
      left: 3%;
    }
  }
  .main-sec-button {
    margin-top: 20px;
  }
}
