@import "base_header.module";
@import "../colors.module.less";
@import "@/styles/shared/buttons/buttons_inner.module.less";


.pageCounter {
  color: @cyber_yellow;
}

.headerRight {
  .menuContainer {
    .menuButtons {
      display: flex;
      justify-content: space-between !important;
      gap: 15px;
    }
  }
}

.header {
  .headerLeft .discoverContainer {
    margin-top: 2vw;
    .buttonWrapper {
      margin-top: 1.5vw;

      .headerButton {
        width: 23vw;
      }
    }
  }
}


@media screen and (min-width: 600px) {
  .header {
    .headerLeft .discoverContainer .buttonWrapper .headerButton {
      width: 20vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .headerLeft .discoverContainer .buttonWrapper .headerButton {
      width: 17vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    gap: 1vw;
    .headerLeft .discoverContainer .buttonWrapper .headerButton {
      width: 8.1vw;
    }
  }

  .header {
    .headerLeft .discoverContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5vw;
      margin-left: 1.5vw;

    }
  }
}


@media screen and (min-width: 1280px) {
  .header {
    .headerLeft .discoverContainer .buttonWrapper .headerButton {
      width: 7vw;
    }
  }


  .header {
    .headerLeft .discoverContainer {
      gap: 1vw;
      margin-top: 2vw;
      margin-bottom: 0.2vw;
      margin-left: 2.3vw;
      .buttonWrapper {
        margin: 0;
      }
    }
  }
}
