@import "base_header.module";
@import "../colors.module.less";

.pageCounter {
  color: @cyber_yellow;
}

@media screen and (min-width: 1024px) {
  .header {
    .headerLeft .discoverContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 1.5vw;
      margin-left: 1vw;
      gap: 0.5vw;

      .buttonWrapper {
        margin: 0;

        .yourNotesButton {
          width: 10vw;
        }
      }
    }
  }
}


@media screen and (min-width: 1280px) {
  .header {
    .headerLeft .discoverContainer {
      flex-direction: row;
      gap: 2vw;
      margin-top: 0;
      margin-bottom: 0.2vw;
      margin-left: 3vw;
      .buttonWrapper {
        .yourNotesButton {
          width: 8vw;
        }
        .discoverButton {
          width: 10.5vw;
        }
      }
    }
  }
}
