name: CICD-prod

on:
  push:
    branches: [ "master" ]

jobs:
  build:
      runs-on: self-hosted
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
          
        - name: Login to Hub
          uses: docker/login-action@v3.0.0
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
          
        
        - name: Run make build
          env: 
            DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
            DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
            GITHUB_SHA: ${{ github.sha }}
          run: make build

        - name: Run make push
          env: 
              DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
              DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          run: make push
          
        - name: Notify infra repo to deploy
          run: |
            curl -X POST \
              -H "Authorization: token ${{ secrets.PAT_CICD }}" \
              -H "Accept: application/vnd.github+json" \
              https://api.github.com/repos/Jonny-JD/NotesServer-Infrastructure/dispatches \
              -d '{"event_type": "deploy-frontend-prod", "client_payload": {"image": "'"${IMAGE_NAME}"'"}}'

